img {
    width: 500px;
}
body {
    text-align: center;
    font-family: "Arial";
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Ca60XcU/entrancing-magical-night-landscape-lawn-from-the-woods-the-night-of-the-lake-clear-sky-with-constellations-and-the-moon_4jxd7qns__F0000.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: White;
    font-size: 16px; 
}
h1 {
    margin:auto;
    width: 70%; 
    color: White;
    
}
h2 {
    font-size: 27px;
    width: auto;
    color: Red;
}

h3 {
   font-size: 27px;
   width: auto;
   color: blue;
   border-color: lightblue;
   
}

h4 {
    font-size: 27px;
    width: auto;
    color: LightGreen;
    border-color: Green;
}

h5 {
    font-size: 27px;
    width: auto;
    color: Orange;
    border-color:Gold;
}

h6 {
    font-size: 27px;
    width: auto;
    color:Fuchsia;
}