img {
    width: 500px;
}
body {
    text-align: center;
    font-family: "Arial";
    background-image: url(https://pre00.deviantart.net/13f9/th/pre/i/2016/036/c/a/fanart__miraculous_ladybug_by_mariadenisebrebos-d9qmyip.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
h1 {
    margin:auto;
    width: 70%; 
}
button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: black;
    color: white;
    border: 3px solid #ffffff;
}

button:hover {
    background-color: #ffffff;
    color: black;
    border: 3px solid #000000;
}
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: red;
}
